$content-bg: 'backgrounds/cream_dust_@2X.png';
$ambient-bg: 'backgrounds/nami.png';

@import url(http://fonts.googleapis.com/css?family=Tienne);

html {
  overflow-x: hidden;
}

body {
  background-image: url($ambient-bg);
  z-index: 0;
}

div.logo {
  background-color: $green-konapun;
  margin-left: auto;
  height: 400px;
  padding-top: 129px;
}

.content {
  padding-top: 20px;
  background-image: url($content-bg);
  min-height: 1000px;
}

.footer {
  margin-top: 12px;
  padding: 2px;
}

.brand {
  font-size: 40px;
  padding: 0;
  color: #474747;
  font-family: 'Tienne', serif;
}

/*
 * Allow child elements to expand to full browser width
 */
.wide-stripe {
  position: relative;
  background-image: url($content-bg);
  width: 100%;
  padding: 6px 0;
  margin-top: -20px;
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
}

.jumbotron-graphic {
  background-image: url('elements/truchet.png');
  
  h1 {
    color: white;
  }
  p {
    color: white;
  }
}

.featured {
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  text-align: left;
  z-index: 1;
  width: 100%;
  
  .icon {
    width: 100%;
    text-align: center;
    font-size: 160px;
    position: absolute;
  }
  
  img {
    margin-top: 10px;
    max-width: 100%;
    position: absolute;
  }
  
  h1, h2, h3, h4 {
    position: relative;
    float: left;
  }
  
  figcaption, a.figcaption {
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    height: 100%;
    background: $charcoal;
    color: $white;
    width: 100%;
    opacity: 0;
    text-align: center;
    @include backface-visibility(hidden);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
       -moz-transition: -moz-transform 0.3s, opacity 0.3s;
         -o-transition: -o-transform 0.3s, opacity 0.3s;
            transition: transform 0.3s, opacity 0.3s;
    z-index: 2;
    
    &:hover {
      opacity: 1;
      z-index: 3;
      @include transform(translate(15px, 15px));
    }
    
    h1, h2, h3, h4 {
      width: 100%;
      font-weight: bold;
    }
  }
  a.figcaption {
    text-decoration: none;
  }
}

.highlight {
  min-height: 200px;
}

.col-md-6 .featured {
  height: 300px;
}

.col-md-4 .featured {
  height: 200px;
  
  .icon {
    margin-top: 20px;
  }
}

.col-md-3 .featured {
  height: 130px;
  
  .icon {
    font-size: 90px;
    margin-top: 22px;
  }
}

.col-md-2 .featured {
  height: 168px;
}

.nav-links {
  position: relative;
  top: 10px;
}

.tile {
  padding: 20px 8px;
  margin: 8px;
}

.full-width {
  width: 100%;
}

.transparent {
  opacity: 0;
}

.circles {
  .circle {
    height: 140px;
    width: 140px;
    opacity: 0.7;
    @include border-radius(70px);
    
    &:hover {
      opacity: 1;
    }
  }
  
  div.row {
    margin-bottom: -40px;
  }
}

.circle {
  margin-left: auto;
  margin-right: auto;
  background-color: #c81f1f;
}
