$content-bg: 'backgrounds/cream_dust_@2X.png';
//$content-bg: 'backgrounds/wild_oliva.png';
//$ambient-bg: 'backgrounds/nami.png';

@import url(http://fonts.googleapis.com/css?family=Tienne);
@import url(http://fonts.googleapis.com/css?family=Raleway);

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  z-index: 0;
  height: 100%;
  font-family: 'Raleway', serif;
}

img.logo {
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: -8px;
}

.fixed-top {
  position: fixed;
  z-index: 3;
  width: 100%;
  min-height: 100%;
  margin-bottom: 600px;
}

.fixed-bottom {
  position: fixed;
  clear: both;
  bottom: 0;
  width: 100%;
  min-height: 100%;
}

.mount {
  background-image: url('backgrounds/red-felt.png');
  min-height: 82px;
}

.mount-top {
  padding-top: 4px;
  margin-top: 0px;
}

.mount-bottom {
  padding-top: 12px;
  padding-bottom: 0px;
}
 
.wide-bar {
  position: relative;
  background-image: url('backgrounds/paper.png');
  width: 100%;
  padding: 0;
}

.header {
  height: 82px;
}

.wide-bar-header {
  margin-top: -30px;
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
}

.wide-bar-footer {
  min-height: 80px;
  @include box-shadow(0 -5px 10px rgba(0, 0, 0, 0.4));
}

.content {
  width: 100%;
  min-height: 800px;
  height: 100%;
  padding: 20px 0;
  background-image: url($content-bg);
  margin-bottom: -200px;
}

.footer {
  margin-top: 200px;
  margin-bottom: 0;
}

.footer-content {
  padding-top: 32px;
}

.brand {
  float: left;
  font-size: 40px;
  padding: 0 4px;
  color: $darkgrey;
  font-family: 'Tienne', serif;
  
  div.heading {
    font-size: 43px;
    margin-top: -6px;
    padding: 0;
  }
  
  div.subtitle {
    padding: 0;
    margin-top: -32px;
    
    span {
      font-size: 13px;
    }
  }
}

.bg-pattern {
  background-image: url('elements/truchet.png');
}

.jumbotron-small {
  text-align: center;
  padding: 9px 2px;
  margin-bottom: 30px;
  
  @include border-radius(6px);
  
  h1 {
    font-size: 43px;
  }
  h1, h2, h3, h4 {
    font-weight: bold;
  }
}

.jumbotron-graphic {
  background-image: url('elements/truchet.png');
  
  h1 {
    color: white;
  }
  p {
    color: white;
  }
}

.featured {
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  text-align: left;
  z-index: 1;
  width: 100%;
  
  .icon, .label {
    width: 100%;
    text-align: center;
    font-size: 160px;
    position: absolute;
  }
  
  img {
    margin-top: 10px;
    max-width: 100%;
    position: absolute;
  }
  
  h1, h2, h3, h4 {
    position: relative;
    float: left;
  }
  
  figcaption, a.figcaption {
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    height: 100%;
    background: $charcoal;
    color: $white;
    width: 100%;
    opacity: 0;
    text-align: center;
    @include backface-visibility(hidden);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
       -moz-transition: -moz-transform 0.3s, opacity 0.3s;
         -o-transition: -o-transform 0.3s, opacity 0.3s;
            transition: transform 0.3s, opacity 0.3s;
    z-index: 2;
    
    &:hover {
      opacity: 1;
      z-index: 3;
      @include transform(translate(15px, 15px));
    }
    
    h1, h2, h3, h4 {
      width: 100%;
      font-weight: bold;
    }
  }
  a.figcaption {
    text-decoration: none;
  }
}

.col-md-6 .featured {
  height: 300px;
}

.col-md-4 .featured {
  height: 200px;
  
  .icon {
    margin-top: 20px;
  }
}

.col-md-3, .col-md-2 {
  .featured {
    height: 80px;
    
    .icon {
      font-size: 60px;
      margin-top: 10px;
    }
    .label {
      font-size: 40px;
    }
  }
}

.nav-links {
  position: relative;
  top: 20px;
}

.tile {
  padding: 20px 8px;
  margin: 8px;
}

.bg-felt {
  background-image: url('backgrounds/red-felt.png');
}

.full-width {
  width: 100%;
}

.transparent {
  opacity: 0;
}

.highlight-description {
  min-height: 200px;
}

.highlight-content {
  width: 100%;
  min-height: 400px;
  margin: 6px 0;
}

