//
// COLOR VARIABLES
//
// - Cool
// - Warm
// - Gray Scale
//

// Cool

$aqua:     #7FDBFF;
$blue:     #0074D9;
$navy:     #001F3F;
$teal:     #39CCCC;
$green:    #2ECC40;
$olive:    #3D9970;
$lime:     #01FF70;
$cobalt:   #2c3f52;
$charcoal: #333333;
// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$darkgrey: #474747;
$black:  #111;

// Pastel

$teal-pastel: #00a99d;
$yellow-pastel: #ffebb5;
$gray-pastel: #d0d2d3;
$blue-pastel: #dbf1fa;
$green-pastel: #e7f2dd;
$red-pastel: #f8aeaa;


// Konapun colors 
$blue-wave: #2e3ea5;

// OTHER VARIABLES
$width: 1170px;

