<div class="content">
  <div class="container">
    <div class="jumbotron bg-arches">
      <h1>About</h1>
      <p class="lead">
        Some kind of tag line...
      </p>
    </div>
    
    <h2>Favorites</h2>
    <div class="well">
      <ul>
        <li>
          <span class="em">Languges</span>
          <p>
            Javascript, Perl, Clojure
          </p>
        </li>
        <li>
          <span class="em">Operating Systems</span>
          <p>
            Ubuntu, Elementary OS
          </p>
        </li>
        <li>
          <span class="em">Cuisines</span>
          <p>
            Thai, Korean, Italian
          </p>
        </li>
        <li>
          <span class="em">Games</span>
          <p>
            Katamari Damacy, Okami, Chrono Trigger
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
