<div class="content">
  <div class="container">
    <div class="jumbotron bg-arches">
      <h1>About</h1>
      <p class="lead">
        Some kind of tag line...
      </p>
    </div>
    
    <h2>Favorites</h2>
    <div class="well">
      <dl class="dl-spaced dl-horizontal">
        <dt>Languges</dt>
        <dd>Javascript, Perl, Clojure</dd>
        
        <dt>Client-side MVC</dt>
        <dd>Ember.js</dd>
        
        <dt>Project Generator</dt>
        <dd>Yeoman</dd>
        
        <dt>CSS Preprocessor</dt>
        <dd>SASS (as SCSS)</dd>
        
        <dt>Build Tool</dt>
        <dd>Grunt</dd>
        
        <dt>Operating Systems</dt>
        <dd>Ubuntu, Elementary OS</dd>
         
        <dt>Cuisines</dt>
        <dd>Thai, Korean, Italian, Vietnamese</dd>
        
        <dt>Games</dt>
        <dd>Katamari Damacy, Okami, Chrono Trigger</dd>
        
        <dt>Music Genres</dt>
        <dd>Trip Hop, Dark Ambient, Underground Hiphop</dd>
      </dl>
    </div>
  </div>
</div>
