<div class="mount mount-bottom">
  <div class="wide-bar wide-bar-header">
    <div class="container header">
      {{#link-to-animated 'index' animations="main:flip" class="nostyle brand"}}
      <div class="brand">
        <div class="subtitle">
          <span class="wave"></span>
          <!--<img class="wave" src="/styles/elements/wave.png">-->
        </div>
        <div class="heading">
          <span class="focus">konapun</span>.github.io
        </div>
        
      </div>
      {{/link-to-animated}}
        
      <ul class="nav nav-pills pull-right nav-links">
        {{#link-to 'index' animations="main:fade" tagName="li"}}<a href="#">Home</a>{{/link-to}}
        {{#link-to 'about' animations="main:fade" tagName="li"}}<a href="#">About</a>{{/link-to}}
        {{#link-to 'contact' animations="main:fade" tagName="li"}}<a href="#">Contact</a>{{/link-to}}
      </ul>
    </div>
  </div>
</div>

{{outlet name='main'}}
        
<div class="mount mount-top footer">
  <div class="container">
    <div class="row">
      <span class="col-md-12 col-xs-12 text-center"> <!-- TODO --> </span>
    </div>
  </div>
  <div class="wide-bar wide-bar-footer">
    <div class="container footer-content">
      <div class="pull-right">
        <a href="#">
          <img src="images/facebook.png">
        </a>
        <a href="#">
          <img src="images/twitter.png">
        </a>
      </div>
      Copyright &copy; 2014
    </div>
  </div>
</div>
