<div class="highlight-description">
  My blog on mostly programming-related topics, but it's too early to say right now.
</div>
<div class="pull-right">
  {{#link-to 'posts'}}Read more &gt;{{/link-to}}
</div>
