<div class="highlight-description">
  Oh, hey there. My name is <span class="em">Bremen</span>, aka <span class="em">konapun</span>.
  This is my little site where I sometimes blog and other stuff.
</div>
<div class="pull-right">
  {{#link-to 'about'}}Read more &gt;{{/link-to}}
</div>
