<div class="highlight-description">
  A collection of Github-hosted open-source projects I've created for fun, utility, or practice.
</div>
<div class="pull-right">
  {{#link-to 'projects'}}Read more &gt;{{/link-to}}
</div>
