<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <ul class="nav nav-pills nav-stacked">
          {{#each controller}}
          {{#link-to 'post' this tagName="li"}}
            <a href="#">{{this.headline}}</a>
          {{/link-to}}
          {{/each}}
        </ul>
      </div>
      <div class="col-md-9 col-xs-9">
        <div class="jumbotron bg-arches">
          <h1>Blog</h1>
          <p class="lead">
            Some kind of tag line...
          </p>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            {{outlet}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
