<div class="content">
  <div class="container">
    <h1>Posts</h1>
    <ul>
     {{#each controller}}
     <li>{{#link-to 'post' this}}{{this.id}}{{/link-to}}</li>
      {{/each}}
    </ul>

    {{outlet}}
  </div>
</div>
