<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="well">
          {{#each controller}}
          <li>
            {{#link-to 'post' this}}
              {{this.headline}}
            {{/link-to}}
          {{/each}}
        </ul>
      </div>
      <div class="col-md-8">
        <h1>Posts</h1>
        {{outlet}}
      </div>
    </div>
  </div>
</div>
