<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="well">
          {{#each controller}}
          <li>
            {{#link-to 'post' this}}
              {{this.headline}}
            {{/link-to}}
          {{/each}}
        </ul>
      </div>
      <div class="col-md-8">
        <div class="jumbotron bg-arches">
          <h1>Blog</h1>
          <p class="lead">
            Some kind of tag line...
          </p>
        </div>
        {{outlet}}
      </div>
    </div>
  </div>
</div>
